streamlit>=1.30
pandas>=1.5
numpy>=1.22
scikit-learn>=1.2
matplotlib>=3.5
folium>=0.14
streamlit-folium>=0.12
leafmap
spacy>=3.7
textblob>=0.17

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
